



small {
	
	color:rgb(0,0,0);

}


.navbar-default,.dropdown-menu {
    background-color: rgb(248, 146, 29);

}

.dropdown:hover,
.dropdown:active,
.dropdown:focus
 {

	 background-color: rgb(255,162,104);
}




    /*--------------Style on modal------------*/

	/*body.modal-open .modal {
    display: flex !important;
    height: 50%;
	} 

	body.modal-open .modal .modal-dialog {
	    margin: auto;
	}*/
	/*.modal {
    position: fixed;
    top: 50% !important;
    left: 50%;
	}*/

    /*---------------------------------*/

    /*Input file style*/

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-area {
      position: relative;
      z-index: 0;
      margin-top: 50px;
    }

    table.responsive-table {
      display: table;
      /* required for table-layout to be used (not normally necessary; included for completeness) */
      table-layout: fixed;
      /* this keeps your columns with fixed with exactly the right width */
      width: 100%;
      /* table must have width set for fixed layout to work as expected */
      height: 100%;
    }
    table.responsive-table thead {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
      line-height: 3em;
      background: #eee;
      table-layout: fixed;
      display: table;

    }
    table.responsive-table tbody {

      
        /*display: inline-block;*/

    }
    table.responsive-table th {
      background: #eee;
      /*background: #535353;*/
      border: 1px solid silver;
       /*width: auto !important;*/
    
    }
    table.responsive-table td {
      line-height: 2em;
      border: 1px solid silver;
    }
    table.responsive-table tr > td, table.responsive-table th {
      text-align: center;
    }



/*Testing purpose*/
/*

.page-container {
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 800px;
}

td,
th {
  padding: 8px;
  border: 1px solid silver;
}

th {
  color: white;
  background: #535353;
}

pre {
  margin: 20px;
  padding: 10px;
  background: #eee;
  border: 1px solid silver;
  border-radius: 4px;
}

/*
   this is important!
   make sure you define this here
   or in jQuery codef
*/
.resizer {
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: auto;
  width: 16px;    
  cursor: col-resize;       
}

/*-------------------*/


